.dnc-wrapper {
    position: relative;
    min-height: 50rem;
}

.dnc-wrapper > div.loading {
    z-index: 1001;
    width: 100%;
    height: 0px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
    pointer-events: none;
}

.dnc-wrapper > div.show {
    height: 100%;
    opacity: 1;
    backdrop-filter: blur(5px);
    width: 100%;
    background-color: rgba(255,255,255, 0.7);
}

.dnc-wrapper-spin {
    height: 100%;
    max-height: 60vh;
    margin-top: -1rem;
}

.dnc-wrapper-spin div span {
    padding-left: 0.8rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #666 !important;
}

div.loading .fa-spin {
    font-size: 5rem !important;
    color: #b1b1b1 !important;
}